<header>
  <section class="hero is-primary" id="hero-top">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container">
        <a href="{{ "/" | relative_url}}">
          <img src="{{"/assets/images/uww_logo_notitle_white.svg" | relative_url}}" alt="Logo" class="logo">
          <h1 class="has-text-weight-bold is-size-4">
            <span class="has-text-info">U</span>biquitous <span class="has-text-warning">W</span>earable <span class="has-text-danger">W</span>orkshop 20<span class="has-text-success">18</span>
          </h1>
        </a>
        <div class="is-size-6">
          <h2>2018年 12月21日(金) - 22日(土)</h2>
          <h2>@兵庫県立淡路夢舞台国際会議場</h2>
          <h2>〒656-2306 兵庫県淡路市夢舞台1番地</h2>
        </div>
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li><a href="{{ "/" | relative_url}}">Home</a></li>
            <li><a href="http://www.yumebutai.org/access/access.html">Access</a></li>
            <li><a href="{{ "/attendee" | relative_url}}">Registration</a></li>
            <li><a href="{{ "/program" | relative_url}}">Program</a></li>
            <li><a href="{{ "/download" | relative_url}}">Download</a></li>
            <li><a href="{{ "/link" | relative_url}}">Link</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</header>