@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
$family-sans-serif: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "游ゴシック体", "Yu Gothic", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$family-primary: $family-sans-serif;

//$body-size: 1rem;
$body-line-height: 1.9;
$text: hsl(0, 0%, 98%);

$column-gap: 1.5rem;

$primary: rgb(53, 44, 134);
$info: rgb(68, 157, 209);
$success: rgb(32, 163, 158);
$warning:rgb(255, 188, 66);
$danger: rgb(216, 17, 89);

$link: $info;
$background: $primary;

.content {
  .container {
    h1, h2, h3, h4, h5, h6 {
      color: $text;
    }

    h1 {
      position: relative;
      padding: 0.5rem 1rem;
      border-bottom: solid 1px $text;
      //display: inline-block;
      text-align: center;
    }

    strong {
      color: $text;
    }
    .button {
      margin: 1rem;
    }
  }
}


.hero {
  background:url('http://cse.eedept.kobe-u.ac.jp/uww2018/assets/images/hero.jpg') center center;
  background-size: cover;
  .hero-body {
    .container {
      .logo {
        max-width: 10rem;
      }
      h2 {
        text-align: right;
      }
    }
  }
}

// .content {
//   h1 {
//     position: relative;
//     padding: 0 .5em .5em 2em;
//     border-bottom: 1px solid #ccc;
//   }
//   h1::before,
//   h1::after {
//     position: absolute;
//     content: '';
//     border-radius: 100%
//   }
//   h1::before {
//     top: .2em;
//     left: .2em;
//     z-index: 2;
//     width: 24px;
//     height: 24px;
//     background: rgba(41, 19, 172, 0.5);
//   }
//   h1::after {
//     top: .6em;
//     left: .6em;
//     width: 18px;
//     height: 18px;
//     background: rgba(224, 160, 221, 0.5);
//   }
// }
body{
  footer{
    background-color:hsl(230, 25, 16) !important;
  }
}

canvas {
  position:fixed; top:0; left:0; z-index:-1;
}

// Bulma css
@import "bulma";